.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: space-between; /* 상단과 하단에 공간 분배 */
    align-items: center;
    background-color: #f4f4f4;
}

.mainWrapper {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto; /* 중앙 정렬 */
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

.form {
    width: 100%;
}

.inputGroup {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(55 65 81);
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    font-size: 0.875rem;
}

.input:focus {
    outline: none;
    border-color: #2e804e;
    ring-color: #2e804e;
}

.submitButton {
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: #2e804e;
    color: white;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
}

.submitButton:hover {
    background-color: #256d41;
}

.loginLink {
    text-align: center;
    font-size: 0.875rem;
    color: rgb(75 85 99);
    margin-top: 1.5rem;
}

.loginLinkText {
    color: #2e804e;
    margin-left: 0.25rem;
}

.loginLinkText:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem; /* 크기를 작게 조정 */
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

.footerDivider {
    height: 2rem; /* 크기 축소 */
}

.footerLine {
    width: 100%;
    border-top: 1px solid rgb(229 231 235);
}

.footerContent {
    height: 1rem; /* 크기 축소 */
}

.footerText {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem; /* 여백 축소 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    color: rgb(107 114 128);
    font-size: 0.75rem; /* 텍스트 크기 축소 */
}

.copyright {
    font-size: 0.75rem; /* 텍스트 크기 축소 */
    color: rgb(107 114 128);
    text-align: center;
    display: block;
    margin-top: 0.5rem; /* 여백 축소 */
}
.notice {
    font-size: 0.875rem; /* 작은 텍스트 크기 */
    color: rgb(107, 114, 128); /* 회색 텍스트 */
    text-align: center;
    margin-bottom: 1.5rem; /* 아래 요소와 간격 */
}
