/* Login page styles */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.headerContent {
    container-type: inline-size;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.logoText {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.loginButton {
    padding: 0.5rem 1rem;
    color: rgb(55 65 81);
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
}

.signupButton {
    padding: 0.5rem 1rem;
    background-color: rgb(21 128 61);
    color: white;
    border-radius: 0.375rem;
}

.signupButton:hover {
    background-color: rgb(22 101 52);
}

.mainContent {
    width: 100%;
    max-width: 2000px;
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.formContainer {
    width: 100%;
    max-width: 800px;
    padding: 3rem 4rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form {
    width: 420px;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.footerDivider {
    height: 4rem;
}

.footerLine {
    width: 100%;
    border-top: 1px solid rgb(229 231 235);
}

.footerContent {
    height: 1.5rem;
}

.footerText {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.copyright {
    font-size: 0.875rem;
    color: rgb(107 114 128);
    text-align: left;
    display: block;
    margin-left: 1rem;
}

.submitButton {
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: #2e804e;
    color: white;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submitButton:hover {
    background-color: #256d41;
}
