.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.mainWrapper {
    width: 100%;
    margin: 5rem auto;
    margin-bottom: 5rem;
    background-color: #f4f4f4;
}

.formContainer {
    width: 600px;
    margin: 0 auto;
    padding: 3rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputGroup {
    margin-bottom: 0;
    width: 100%;
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(55 65 81);
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    font-size: 0.875rem;
}

.input:focus {
    outline: none;
    border-color: #2e804e;
}

.buttonContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.submitButton {
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: #2e804e;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #256d41;
}

.cancelButton {
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: rgb(220 38 38);
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.cancelButton:hover {
    background-color: rgb(185 28 28);
    color: white;
}

.footer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.footerDivider {
    height: 4rem;
}

.footerLine {
    width: 100%;
    border-top: 1px solid rgb(229 231 235);
}

.footerContent {
    height: 1.5rem;
}

.footerText {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.copyright {
    font-size: 0.875rem;
    color: rgb(107 114 128);
    text-align: left;
    display: block;
    margin-left: 1rem;
}

@media (max-width: 1024px) {
    .formContainer {
        padding: 3rem 4rem;
    }

    .form {
        gap: 2rem;
        padding: 0;
    }

    .buttonContainer {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }

    .buttonContainer {
        grid-column: 1;
    }

    .formContainer {
        padding: 2rem;
    }
}
